flows/FilterLogic1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Book</name>
        <label>Book</label>
        <locationX>216</locationX>
        <locationY>321</locationY>
        <actionName>choosePricebook</actionName>
        <actionType>choosePricebook</actionType>
        <connector>
            <targetReference>TakeDec</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>parentEntityId</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>TakeDec</name>
        <label>TakeDec</label>
        <locationX>435</locationX>
        <locationY>329</locationY>
        <defaultConnector>
            <targetReference>UpdateREc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Book</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Decision</label>
        </rules>
    </decisions>
    <interviewLabel>FilterLogic1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FilterLogic1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateREc</name>
        <label>UpdateREc</label>
        <locationX>604</locationX>
        <locationY>318</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Decision</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>$User.Latitude</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Book</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AnnualRevenue</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
